<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Epicserver_Minecraft_Installer.LibraryVersions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Epicserver_Minecraft_Installer.Minecraft" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Epicserver_Minecraft_Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Epicserver_Minecraft_Installer.LibraryVersions>
            <setting name="LWJGL" serializeAs="String">
                <value>lwjgl-platform-2.9.1-natives-windows.jar</value>
            </setting>
        </Epicserver_Minecraft_Installer.LibraryVersions>
        <Epicserver_Minecraft_Installer.Minecraft>
            <setting name="LWJGL" serializeAs="String">
                <value>lwjgl-platform-2.9.1-natives-windows.jar</value>
            </setting>
        </Epicserver_Minecraft_Installer.Minecraft>
        <Epicserver_Minecraft_Installer.Properties.Settings>
            <setting name="DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MINECRAFT" serializeAs="String">
                <value>1.6.2.jar</value>
            </setting>
            <setting name="FORGE" serializeAs="String">
                <value>1.6.2-Forge9.10.0.841.jar</value>
            </setting>
            <setting name="LWJGL" serializeAs="String">
                <value>lwjgl-platform-2.9.1-natives-windows.jar</value>
            </setting>
        </Epicserver_Minecraft_Installer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
